.feed__container {
    padding: 0px 8px;

}

.feed__container__header {

    display:flex;
    justify-content: space-between;
    align-items: center;

}

.feed__container__home__text {
    font-weight: bold;
    font-size: 18px;
}

.feed__container__tweet__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;

}

.feed__tweet{
    margin-top: 10px;
}

.tweet__happenings {
    margin-right: 85px;

}

.tweet__happenings textarea {
    border: none;
    outline : none;
    margin-top: 20px;
    resize: none;
    overflow: hidden;
}

.feed__tweet__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.tweet__attributes {
    margin-left: 50px ;
}

.tweet__attributes .MuiSvgIcon-root {
    color: #1DA1F2;
    opacity: 0.7;
    margin: auto 5px;
    font-size: 18px;

}

.tweet__button {

    background-color: #1DA1F2;
    width: 15%;
   text-align: center;
   padding: 5px 12px;
   border-radius: 20px;
   opacity: 0.7;
   margin-bottom: 10px;

}

.tweet__button button {
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
    
}

.feed__container__head {
    border-bottom: 1px rgb(223, 222, 222) solid;
}

.feed__body__section__more {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

}

.feed__body__section__more__text {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-left: 20px;
}

.feed__body__section__more__text .MuiSvgIcon-root {
    font-size: 12px;
    margin-right: 20px;
}

#see__more {
    color: #1DA1F2;
    font-weight: bold;

}

.feed__body__section__more__icon .MuiSvgIcon-root {
    font-size: 12px;
    display: flex;
    align-items: center;
   
}

.feed__body__section__content {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

}


.feed__body__section__content__side__content {

    display: flex;
    justify-content: space-between;

}



.feed__body__section__content__side__content__photo {
    margin-right: 10px;
    width: 40px;

}

.feed__body__section__content__side__content__photo img {
    width: 100%;

}

.feed__body__section__content__side__content__text p{
    font-size: 12px;
    margin-top: 5px;
}

#username {
    font-weight: bold;
    font-size: 12px;

}

.feed__body__section__content__side__content__text .MuiSvgIcon-root {
    color: #1DA1F2;
    font-size: 14px;
    margin-right: 5px;
}

#nick, #timestamp {
    font-size: 12px;
    color: rgb(106, 119, 129);
    font-weight: bold;

}

.feed__body__section__content__side__content__text__img {
    margin-top: 10px;
    width: 100%;
}

.feed__body__section__content__side__content__text__img img {
    width:100%;
    border-radius: 10px;
}