.feed__container {
    padding: 0px 8px;

}

.feed__container__header {

    display:flex;
    justify-content: space-between;
    align-items: center;

}

.feed__container__home__text {
    font-weight: bold;
    font-size: 18px;
}

.feed__container__tweet__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;

}

.feed__tweet{
    margin-top: 10px;
}

.tweet__happenings {
    margin-right: 85px;

}

.tweet__happenings textarea {
    border: none;
    outline : none;
    margin-top: 20px;
    resize: none;
    overflow: hidden;
}

.feed__tweet__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.tweet__attributes {
    margin-left: 50px ;
}

.tweet__attributes .MuiSvgIcon-root {
    color: #1DA1F2;
    opacity: 0.7;
    margin: auto 5px;
    font-size: 18px;

}

.tweet__button {

    background-color: #1DA1F2;
    width: 15%;
   text-align: center;
   padding: 5px 12px;
   border-radius: 20px;
   opacity: 0.7;
   margin-bottom: 10px;

}

.tweet__button button {
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
    
}

.feed__container__head {
    border-bottom: 1px rgb(223, 222, 222) solid;
}
