.home, .explore,  .tag, .notification, .message, .bookmark, .list, .profile, .more {
    display: flex;
    align-items: center;
    width: 40%;
    padding : 10px 0px;
    text-transform: capitalize;
}

.sidebar__container .MuiSvgIcon-root {
    margin-right: 15px;
}

.twitter-logo .MuiSvgIcon-root {
    color: #1DA1F2;

}

.notification__icon  {
    margin-right: 20px;
    width: 18%;
}

.notification__icon .MuiSvgIcon-root {
    position : absolute;
    margin-right: 15px;

}

.notification__icon > span {
    position : relative;
    bottom: 5px;
    background-color: #1DA1F2;
    color : #fff;
    border-radius: 50%;
    padding: 5px;
    align-items: center;
    font-size: 10px;
    left:5px;
   


}

.tweet__btn {

    background-color: #1DA1F2;
    width: 70%;
   text-align: center;
   padding: 12px;
   border-radius: 20px;

}

.tweet__btn button {
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
    
}

.bottom__profile {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}