.home, .explore,  .tag, .notification, .message, .bookmark, .list, .profile, .more {
    display: flex;
    align-items: center;
    width: 40%;
    padding : 10px 0px;
    text-transform: capitalize;
}

.sidebar__container .MuiSvgIcon-root {
    margin-right: 15px;
}

.twitter-logo .MuiSvgIcon-root {
    color: #1DA1F2;

}

.tweet__btn {

    background-color: #1DA1F2;
    width: 70%;
   text-align: center;
   padding: 12px;
   border-radius: 20px;

}

.tweet__btn button {
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
    
}

.bottom__profile {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}