* {
    padding : 0px;
    margin: 0px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: auto;
}

.sidebar {
    flex: 0.3;
}

.feed {
    flex : 0.4
}

.widget {
    flex: 0.3;

}